
		body{  
			background-color:#666;
			color:white;
		}
		
		a{
			color:white;
			text-decoration:none;
		}
		a:hover{
			background-color:#333;
			font-weight:bold;
		}

		ul{
			padding:0;
		}

		.clr{
			clear:both;
		}

		#container{
			background-color: #333;
			width:960px;
			margin:30px auto;
			overflow:hidden;
			padding:10px;
			border-radius: 10px;
		}

		nav{
			height:40px;
			background:#666;
			border-top-right-radius:10px;
			border-top-left-radius:10px;
		}

		nav ul{
			padding-top:13px;
			padding-left:10px;
		}

		nav li{
			list-style:none;
			float:left;
			padding-right:20px;
		}

		main{
			float:left;
			width:60%;
			}

		aside{ 
			float:right;
			width:12%;
			align-content: center;
			background-color:#666;
			margin-top:10px;
			padding:10px;

		}
		footer{
			text-align: center;
			padding:10px;
			background-color:#666;
			margin-top:30px;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
		}
