#outer {
 border-width: 9px;
 height: 500px;
  border-style: double;
 border-color: green;
}
.myclass {
 text-align: center;
left: 50px;
 right: 150px;
  border-style: solid;
 border-width: 2px;
 height: 150px;
 position: absolute;
 bottom: 1px;

}

h1 {
 font-size: 32pt;
}
